.HTMLGamesDiv{
    margin-top: 450px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 40px;
}
.HTMLGamesDiv h3{
    color: var(--white);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    height: 20px;
}
.gameCard{ 
    height: 400px; 
    width: 600px; 
    position: relative;
    overflow: hidden;
    margin: auto; 
    border-radius: 20px;
    cursor: pointer;
}
.gameCard::before{
    content: "";
    background-image: conic-gradient(
        var(--red) 0deg, var(--red) 51deg, 
        var(--orange) 51deg, var(--orange) 102deg, 
        var(--light-blue) 102deg, var(--light-blue) 153deg, 
        var(--blue) 153deg, var(--blue) 204deg, 
        var(--green) 204deg, var(--green) 255deg, 
        var(--yellow) 255deg, var(--yellow) 306deg, 
        var(--brown) 306deg, var(--brown) 357deg, 
        var(--red) 357deg, var(--red) 360deg
    );
    height: 800px; 
    width: 800px;
    position: absolute;
    top: -50%; 
    left: -15%; 
    border-radius: 50%;
    transform: rotate(var(--deg));
    animation: rotate 1s infinite linear;
    animation-play-state: paused;
    z-index: 0;
}
.gameCard::after{
    content: "";
    position: absolute;
    display: grid;
    place-items: center;
    height: 390px;
    width: 590px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: all 0.5s;
    z-index: 3;
}
.gameCard:hover::after{
    content: "";
    height: 380px;
    width: 580px;
    transition: all 0.5s;
}
.spaceGame::after{
    content: "";
    background-image: url(/assets/space-game.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.spaceGame:hover::after{
    content: "SPACE GAME";
    letter-spacing: 2px;
    font-size: 20px;
    color: var(--white);
    font-family: 'Audiowide', cursive;
    transition: all 0.5s;
}
.beeGame::after{
    content: "";
    background-image: url(/assets/bee-game.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.beeGame:hover::after{
    content: "HONEY POT";
    letter-spacing: 5px;
    font-size: 20px;
    color: var(--white);
    font-family: 'Audiowide', cursive;
    transition: all 0.5s;
}
.breakout::after{
    content: "";
    background-image: url(/assets/breakout.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.breakout:hover::after{
    content: "BREAKOUT";
    letter-spacing: 5px;
    font-size: 20px;
    color: var(--white);
    font-family: 'Audiowide', cursive;
    transition: all 0.5s;
}
.robotRun::after{
    content: "";
    background-image: url(/assets/robot-run.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.robotRun:hover::after{
    content: "ROBOT RUN";
    letter-spacing: 5px;
    font-size: 20px;
    color: var(--white);
    font-family: 'Audiowide', cursive;
    transition: all 0.5s;
}
.snake::after{
    content: "";
    background-image: url(/assets/snake.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.snake:hover::after{
    content: "SNAKE";
    letter-spacing: 10px;
    font-size: 20px;
    color: var(--white);
    font-family: 'Audiowide', cursive;
    transition: all 0.5s;
}

@media screen and (max-width: 800px) {
    .gameCard{
        height: 400px;
        width: 500px;
    }
    .gameCard::after{
        height: 390px;
        width: 490px;
    }
    .gameCard::before{
        height: 700px;
        width: 700px;
        top: -40%; 
        left: -15%; 
    }
}
@media screen and (max-width: 600px) {
    .HTMLGamesDiv{
        margin-top: 360px;
    }
    .HTMLGamesDiv h3{
        font-size: 25px;
        height: 10px;
    }
    .gameCard{
        height: 200px;
        width: 300px;
    }
    .gameCard::after{
        height: 190px;
        width: 290px;
    }
    .gameCard::before{
        height: 600px;
        width: 600px;
        top: -100%; 
        left: -50%; 
    }
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}