.robotIcon{
    position: relative;
    top: 90px;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    /* margin: 100px auto 0 auto; */
    border: solid 2px var(--black);
    background-color: var(--light-blue);
}
.hat{
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--green);
    border: solid 2px var(--black);
    border-radius: 20px 20px 0 0;
    height: 34px;
    width: 30%;
}
.hatRod{
    position: absolute;
    top: -44px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40px;
    border: solid;
}
.rodBall{
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid;
    background-color: var(--red);
}
.eyes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 20%;
}
.eye{
    border: solid 1px var(--black);
    background-color: var(--white);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.eyeBall{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--black);
    border-radius: 50%;
}
.earL{
    position: absolute;
    top: 30%;
    left: -15px;
    transform: translate(0, -50%);
    width: 15px;
    height: 50px; 
    border: solid;
    border-radius: 20px 0 0 20px;
    background-color: var(--orange);
}
.earR{
    position: absolute;
    top: 30%;
    right: -15px;
    transform: translate(0, -50%);
    width: 15px;
    height: 50px; 
    border: solid;
    border-radius: 0 20px 20px 0;
    background-color: var(--orange);
}
.nose{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 20px;
    border-radius: 20px;
    border: solid 1px var(--black);
    background-color: var(--green);
}
.mouth{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 70%;
    background-color: var(--white);
    border-radius: 20px;
    border: solid 2px var(--black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.teethVertical{
    border-bottom: solid;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-gray);
}
.tooth{
    width: 20%;
    border-right: solid;
    height: 100%;
}
.mouth .tooth:last-child{
    border: none;
}

@keyframes pulseColor {
    0%{
        background-color: var(--red);
    }
    50% {
        background-color: var(--yellow);
    }
    100%{
        background-color: var(--red);
    }
}
@keyframes rotateEars {
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(360deg);
    }
}