.background-img-div{
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.background-img-div i{
    color: var(--brown);
    font-family: 'Exo 2', sans-serif; 
    font-size: 70px;
}
.banner{
    height: 100%;
}
.solarSystem{
    position: absolute;
    right: 130px;
    top: 80%;
    background-image: url(/assets/solar-system.png);
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 800px;
    filter: drop-shadow(1px 2px 4px);
}
.sun{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,
      0 0 100px 60px var(--green),
      0 0 140px 90px #0ff;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--deg));
    z-index: 0;
}
.planet{
    background-image: url(/assets/planet.png);
    background-position: center;
    background-size: 220%;
    position: absolute;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    padding: 30px;
    z-index: 1;
    overflow: hidden;
    filter: drop-shadow(1px 2px 4px var(--black));
}
.logoDiv{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.logoDiv strong{
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: var(--brown);
}
.rocket{
    position: absolute;
    height: 150px;
    width: 300px;
    transform: rotate(3deg);
    z-index: 2;
    background-image: url(/assets/home-page-rocket.png);
    background-size: 80%;
    background-repeat: no-repeat;
}
.green{
    background-color: green;
    transition: background-color 1s;
}
.blue{
    background-color: blue;
    transition: background-color 1s;
}
.large{
    transform: scale(1.2) rotate(360deg);
    transition: transform 0.5s;
}
.default{
    transform: scale(1) rotate(0deg);
    transition: transform 0.5s;
}
.h1{
    position: relative;
    top: 70px;
    color: var(--blue);
    font-size: 100px;
    letter-spacing: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    transition: all 0.2s;
}

@media screen and (max-width: 1200px) {
    .solarSystem{
        right: 100px;
    }
    .logoDiv strong{
        font-size: 40px;
    }
    .h1{
        font-size: 70px;
    }
    .background-img-div i{
        font-size: 50px;
    }
}
@media screen and (max-width: 1000px) {
    .solarSystem{
        right: 60px;
    }
}
@media screen and (max-width: 1000px) {
    .solarSystem{
        right: 20px;
    }
}
@media screen and (max-width: 850px) {
    .solarSystem{
        right: 51px;
        top: 88%;
        height: 400px;
        width: 600px;    
        background-position: top;
    }
}
@media screen and (max-width: 700px) {
    .solarSystem{
        right: 21px;
    }
    .logoDiv strong{
        font-size: 50px;
        position: relative;
        top: 15px;
    }
    .h1{
        display: flex;
        flex-direction: column;
        font-size: 50px;
        top: 38px;
    }
    .background-img-div i{
        font-size: 50px;
    }
    .rocket{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .solarSystem{
        top: 98%;
        right: 23px;
        height: 300px;
        width: 300px;
        background-size: 110%;
        background-repeat: no-repeat;
    }
    .planet{
        background-size: 220%;
        height: 10px;
        width: 10px;
        padding: 30px;
    }
    .sun{
        box-shadow:
          0 0 60px 30px #fff,
          0 0 100px 60px var(--green),
          0 0 140px 10px #0ff;
    }
}

@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}